<div id="<%= dom_id boxer %>">
  <div>
    <strong>Name:</strong>
    <%= boxer.name %>
  </div>

  <div>
    <strong>Weight class:</strong>
    <%= boxer.weight_class %>
  </div>

  <div>
    <strong>Record:</strong>
    <%= boxer.record %>
  </div>

  <div>
    <strong>Style:</strong>
    <%= boxer.style %>
  </div>

</div>
